<script>

	//get branch selected to update supervisor options due to branch
	function branchSelected()
	{
		var id = document.getElementById("branch").value;
		jQuery.ajax({
			url: "UserController.php",
			data: 'method=getSupervisorById&id='+id, 
			type: "GET",
			cache: false,
			processData: false, // Don't process the files
			contentType: false,
			success:function(role)
			{
				//afade hena
				$("#supervisor option").remove();

				var roles = JSON.parse(role);
				roles.forEach(function(item,index) {
					$('#supervisor')
					.append($("<option></option>")
							.attr("value",item.id)
							.text(item.name)); 
				});
				
				}
			,error: function(jqXHR, textStatus, errorThrown)
			{
				alert("Upload Failed!");
						
			}          
				});	
	}

	//city select
	function govSelectedGov() 
	{
		var govId = document.getElementById("gov").value;
		jQuery.ajax({
			url: "childBackEnd.php",
			data: 'method=viewCities&govId='+govId,
			type: "GET",
			cache: false,
			processData: false, // Don't process the files
			contentType: false,
			success:function(role)
			{
				//afade hena
				$("#city option").remove();

				var roles = JSON.parse(role);
				roles.forEach(function(item,index) {
					$('#city')
					.append($("<option></option>")
							.attr("value",item.id)
							.text(item.city_name)); 
				});
				
				}
			,error: function(jqXHR, textStatus, errorThrown)
			{
				alert("Upload Failed!");
						
			}          
				});	



	}

	//fill station
	function citySelected()
	{

		var cityId = document.getElementById("city").value;
		jQuery.ajax(
		{
			url: "childBackEnd.php",
			data: 'method=getStations&id='+cityId,
			type: "GET",
			cache: false,
			processData: false, // Don't process the files
			contentType: false,
			success:function(role)
			{
				$("#station option").remove();

				var roles = JSON.parse(role);
				roles.forEach(function(item,index) {
					$('#station')
					.append($("<option></option>")
							.attr("value",item.id)
							.text(item.station_name)); 
				});
				
			}
			,error: function(jqXHR, textStatus, errorThrown)
			{
				alert("Upload Failed!");
						
			}          
		});	

	}
	
	//fill governorate
	$(function()
	{	
		jQuery.ajax({
			url: "childBackEnd.php",
			data: 'method=getGov',
			type: "GET",
			cache: false,
			processData: false, // Don't process the files
			contentType: false,
			success:function(role)
			{
			//   convert convert string returned to json array
			var roles = JSON.parse(role);
			roles.forEach(function(item,index) {
				$('#gov')
				.append($("<option></option>")
						.attr("value",item.id)
						.text(item.governorate_name)); 
			});
			$('#gov').trigger('change');
			},
				error: function(jqXHR, textStatus, errorThrown)
				{
					alert("Upload Failed!");
					
				}          
	});	
	


	
$("#add_child_form").submit(function(e){
			e.preventDefault();
			//////////////////////////////////////////////////////////

		

			var date1 = new Date($('#DOB').val());
			day1 = date1.getDate();
			month1 = date1.getMonth() + 1;
			year1 = date1.getFullYear();
			var date2 = new Date($('#decision-date').val());
			day2 = date2.getDate();
			month2 = date2.getMonth() + 1;
			year2 = date2.getFullYear();

			var date3 = new Date($('#Record-date').val());
			day3 = date3.getDate();
			month3 = date3.getMonth() + 1;
			year3 = date3.getFullYear();

			var inputs= $("#add_child_form").find("input");
			var flag=true;
			inputs.each(function(index, item)
			{
				if($.trim($(item).val())== '')
				{
					 flag=false;
				}
	
			});

			if(!flag)
			{
				alert("برجاء ادخال جميع البيانات");
			}
			else if(date2<date1)
			{
				alert("تاريخ قرار النيابه قبل تاريخ الميلاد");
			}
			else if(date3<date1)
			{
				alert("تاريخ قرار المحضر قبل تاريخ الميلاد");
			}
			else if(!checkNationalId())
			{
				return;
			}
			else if(!CheckReportNum())
			{
				return;
			}
			else if(!CheckDecisionNum())
			{
				return;
			}
			else
			{
			///////////////////////////////////////////////////////////
			var data = new FormData();
			data.append('name', $('#name').val());
			data.append('DOB', $('#DOB').val());
			data.append('gender',$('input[name=exampleRadios]:checked').val());
			data.append('nasab', $('#nasab').val());
			data.append('SSN', $('#SSN').val());
			data.append('gov', $('#gov').val());
			data.append('city', $('#city').val());
			data.append('station', $('#station').val());
			data.append('reportNum', $('#Record-num').val());
			data.append('reportDate', $('#Record-date').val());
			data.append('decisionNum', $('#decision-num').val());
			data.append('decisionDate', $('#decision-date').val());
			data.append('clothesSize', $('#clothes-size').val());
			data.append('shoeSize', $('#shoe-size').val());
			data.append('branch', $('#branch').val());
			data.append('talent', $('#talent').val());
			var arr = [];
			for(var i=0; i<$("#talent :selected").length;i++)
			{
				arr.push($('#talent :selected')[i].value);
			}
			data.append('selectedTalents', JSON.stringify(arr));
			data.append('supervisor', $('#supervisor').val());
			data.append('method', 'addChild');

			jQuery.ajax({
				url: "childBackEnd.php",
				data: data,
				type: "POST",
				cache: false,
				processData: false, // Don't process the files
				contentType: false,
				success: function(data2)
				{
					alert("Uploaded Successfully!");
					window.location.replace("childBackEnd.php");
				},
				error: function(jqXHR, textStatus, errorThrown)
				{
					alert("Upload Failed!");
				}          
			});	
	}

		})	
	
});

	//fill talents
	$(document).ready(function() 
	{
      	jQuery.ajax({
			url: "childBackEnd.php",
			data: 'method=getTalents',
			type: "GET",
			success:function(data)
			{
				$("#talent option").remove();
				
				var roles = JSON.parse(data);
				roles.forEach(function(item,index) {
					$('#talent')
					.append($("<option></option>")
							.attr("value",item.id)
							.text(item.talent_name)); 
				});
			}          
      	});
	});


	//fill branches
	$(function()
	{		
		jQuery.ajax({
			url: "userController.php",
			data: 'method=getAllBranches',
			type: "GET",
			cache: false,
			processData: false, // Don't process the files
			contentType: false,
			success:function(role)
			{
			//   convert convert string returned to json array
			var roles = JSON.parse(role);
			roles.forEach(function(item,index) {
				$('#branch')
				.append($("<option></option>")
						.attr("value",item.id)
						.text(item.address)); 
			});
			$('#branch').trigger('change');
			},
				error: function(jqXHR, textStatus, errorThrown)
				{
					alert("Upload Failed!");
					
				}          
		})
	});	


function checkNationalId()
{
	var flag=true;
	jQuery.ajax({
			url: "UserController.php",
			data: 'method=CheckNationalId&nationalId='+$('#SSN').val(),
			type: "GET",
			async: false,
			success:function(data)
			{
			//   convert convert string returned to json array
			var data = JSON.parse(data);
			
				if(data.flag==false)
				{
				
					alert("هذا الرقم القومي مسجل من قبل");
					flag=false;
				}
				else 
				{
					flag=true;
				}
			
			}   
			   
      	});
		 
		return  trueOrFalse(flag);;  
}
function trueOrFalse(bool){
        return bool;
}
	
function CheckReportNum()
{
	var flag=true;
	jQuery.ajax({
			url: "childBackEnd.php",
			data: 'method=CheckReportNum&reportNumber='+$('#Record-num').val(),
			type: "GET",
			async: false,
			success:function(data)
			{
			//   convert convert string returned to json array
			var data = JSON.parse(data);
			
				if(data.flag==false)
				{
				
					alert("هذا الرقم المحضر مسجل من قبل");
					flag=false;
				}
				else 
				{
					flag=true;
				}
			
			}   
			   
});
		 
		return  trueOrFalse(flag);;  
}
function CheckDecisionNum()
{
	var flag=true;
	jQuery.ajax({
			url: "childBackEnd.php",
			data: 'method=CheckDecisionNum&DecisionNum='+$('#decision-num').val(),
			type: "GET",
			async: false,
			success:function(data)
			{
			//   convert convert string returned to json array
			var data = JSON.parse(data);
			
				if(data.flag==false)
				{
				
					alert("هذارقم قرار النيابه مسجل من قبل");
					flag=false;
				}
				else 
				{
					flag=true;
				}
			
			}   
			   
      	});
		 
		return  trueOrFalse(flag);;  
}
	</script>

	<!-- Big Form-->
	<div class="restOfForm container-fluid">
		<div class="row">
		<form class="col-md-6 offset-md-3" style="border: 1px solid black;width: 60%;margin: auto;padding-top: 25px;padding-bottom: 50px;text-align: center;
     box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);" id="add_child_form">
     <h1> اضافه طفل </h1>
			
				<div class="row">
					<div class="col-md-6">
						
						<label for="nameInput" >الاسم</label> 
						<input type="text" id="name" class="form-control" required pattern="[أ-ي' ']{2,50}" onpaste="return false;" title="ادخال الإسم باللغه العربية"  ><br>
					</div>
					<div class="col-md-6">
						<label for="nameInput">تاريخ الميلاد</label>
						<input type="date" id="DOB" class="form-control" required title="ادخال  تاريخ الميلاد " onkeydown="return false" ><br>
					</div>
				</div>

				<div class="row">
					<div class="col-md-2 offset-md-4">
						<label><input value="0" type="radio" name="exampleRadios"  required>ذكر</label><br>
					</div>
						
					<div class="col-md-2">
						<label><input value="1" type="radio" name="exampleRadios">انثي</label><br>
					</div>
				</div>
				
				
				<div class="row">
					<div class="col-md-6">
						<label>النسب</label>
						<input disabled id="nasab" type="text" class="form-control" value="مجهول" required onpaste="return false;" placeholder="النسب">
					</div>
					<div class="col-md-6">
						<label>الرقم القومي</label>
						<input id="SSN" type="text" class="form-control" required pattern="[0-9]{14}" onpaste="return false;"  title="الرقم القومي المكون من 14 خانه">
					</div>
					<div class="col-md-6">
						<label>محافظه العثور</label>
						<select id="gov" onchange="govSelectedGov()" class="form-control" required>
							<!-- <option value="-" checked >-</option> -->
						</select>
					</div>
					<div class="col-md-6">
						<label>مدينه</label>
						<select id="city" onchange="citySelected()" class="form-control"required> </select>
					</div>
					<div class="col-md-6">
						<label>قسم</label>
						<select id="station" class="form-control" required> </select>
					</div>
					<div class="col-md-6">
						<label>رقم المحضر</label>
						<input id="Record-num" onkeydown="javascript: return event.keyCode == 69 ? false : true" type="number" class="form-control" required  min=0 max=9999  onpaste="return false;" placeholder="رقم قرار المحضر" title="بحد اقصى اربع خانات" >
					</div>
					<div class="col-md-6">
						<label>تاريخ المحضر</label>
						<input id="Record-date" type="date" class="form-control" required title="ادخال  تاريخ المحضر " onkeydown="return false"  >
					</div>
					<div class="col-md-6">
						<label>رقم قرار النيابه</label>
						<input id="decision-num" type="number"  class="form-control" onkeydown="javascript: return event.keyCode == 69 ? false : true"  min=1 max=9999 onpaste="return false;" title="بحد اقصى اربع خانات" placeholder="رقم قرار النيابه">
					</div>
					<div class="col-md-6">
						<label>تاريخ قرار النيابه</label>
						<input id="decision-date"type="date" class="form-control" required title="ادخال  تاريخ قرار النيابة " onkeydown="return false" >
					</div>
					<div class="col-md-6">
							<label>مقاس الملابس</label>
							<input id="clothes-size" onkeydown="javascript: return event.keyCode == 69 ? false : true" type="number" min="1" max="21"  class="form-control" placeholder="رقم مقاس الملابس" onpaste="return false;" title="حد ادنى 1 و حد اقصى 21 " >
					</div>
					<div class="col-md-6">
							<label>مقاس الاحذيه</label>
							<input id="shoe-size" onkeydown="javascript: return event.keyCode == 69 ? false : true" type="number" min="1" max="50" class="form-control" required  onpaste="return false;">
					</div>
					<div class="col-md-6">
						<label>الفرع</label>
						<select id="branch" onchange="branchSelected()" class="form-control"required> 
							<!-- <option value="-" checked >  -  </option> -->
						</select>
					</div>
					<div class="col-md-6">
						<label>الموهبه</label>
						<select id="talent" multiple data-live-search="true" class="form-control" required >
							</select>	

					</div>
					<div class="col-md-6">
						<label>اسم المشرف</label>
						<select id="supervisor" class="form-control"required> </select>
					</div>
					<div class="row col-md-5 offset-5">
						<button style="margin-top:20px;color: black;
						"class="btn btn-light">حفظ</button>
					</div>	
						
				</div>				
			</form>
		</div>
	</div>

	<script>
	
			var today = new Date();
			var dd = today.getDate();
			var mm = today.getMonth()+1;
			var yyyy = today.getFullYear();
			var yy = today.getFullYear()-20;
			if(dd<10){
				dd='0'+dd
					} 
				if(mm<10){
				mm='0'+mm
					} 
				minDate=yy+'-'+mm+'-'+dd;
				today = yyyy+'-'+mm+'-'+dd;
				document.getElementById("DOB").setAttribute("max", today);
				document.getElementById("DOB").setAttribute("min", minDate);
				document.getElementById("decision-date").setAttribute("max", today);
				document.getElementById("Record-date").setAttribute("max", today);
									
       
	</script>


</body>



</html>