
	<!-- /Nav Bar-->
<script>


	//fill branches
	$(function()
	{		
		jQuery.ajax({
			url: "userController.php",
			data: 'method=getAllBranches',
			type: "GET",
			cache: false,
			processData: false, // Don't process the files
			contentType: false,
			success:function(role)
			{
			//   convert convert string returned to json array
			var roles = JSON.parse(role);
			roles.forEach(function(item,index) {
				$('#branch')
				.append($("<option></option>")
						.attr("value",item.id)
						.text(item.address)); 
			});
			$('#branch').trigger('change');
			},
				error: function(jqXHR, textStatus, errorThrown)
				{
					alert("Upload Failed!");
					
				}          
		})
	});	



	function checkNationalId()
{
	var flag=true;
	jQuery.ajax({
			url: "UserController.php",
			data: 'method=CheckNationalId&nationalId='+$('#SSN').val(),
			type: "GET",
			async: false,
			success:function(data)
			{
			//   convert convert string returned to json array
			var data = JSON.parse(data);
			
				if(data.flag==false)
				{
				
					alert("هذا الرقم القومي مسجل من قبل");
					flag=false;
				}
				else 
				{
					flag=true;
				}
			
			}   
			   
      	});
		 
		return  trueOrFalse(flag);;  
}
function trueOrFalse(bool){
        return bool;
}
$(function()
	{
		$("#add_user_form").submit(function(e){
			e.preventDefault();
			var data = new FormData();



			parentId=$("input[type='radio'][name='systemUser']:checked").val();
			data.append('name',$('#name').val());
			data.append('SSN',$('#SSN').val());
			data.append('DOB',$('#DOB').val());
			data.append('DOW',$('#DOW').val());
			data.append('salary',$('#salary').val());
			data.append('mobile',$('#mobile').val());
			data.append('roleId',$('#nonSystemuser').val());
			data.append('branch', $('#branch').val());
			data.append('parentId',parentId);
			data.append('gender',$('input[name=exampleRadios]:checked').val())
			var f=checkNationalId();
		
				if(parentId==1 && ($.trim($("#pass").val())== ''||$.trim($("#username").val())== ''||$('#username').val()==""||$('#pass').val()==""))
				{
					
					alert(" برجاء ادخال اسم المستخدم و كلمة السر  ");

				}
				else if(f==false)
				{
					
					return;
				}
				else if (parentId==1 &&!checkUserName())
				{
					return;
				}
			else if($.trim($("#name").val())== '')
					{
						alert("برجاء ادخال جميع البيانات");
					}

			 else{
			
					
					data.append('username', $('#username').val());
					data.append('pass', $('#pass').val());
					data.append('method', 'addEmployeeDone');
			
						jQuery.ajax({
							url: "UserController.php",
							data: data,
							type: "POST",
							cache: false,
							processData: false, // Don't process the files
							contentType: false,
							success: function(data2)
							{
								alert("Uploaded Successfully!");
								window.location.replace("UserController.php?method=viewEmployees");
							},
							error: function(jqXHR, textStatus, errorThrown)
							{
								alert("Upload Failed!");
							}          
						});	
			 }
		})
	});

function checkUserName()
{
	var flag=true;
	jQuery.ajax({
			url: "UserController.php",
			data: 'method=checkUserName&username='+$('#username').val(),
			type: "GET",
			async: false,
			success:function(data)
			{
			//   convert convert string returned to json array
			var data = JSON.parse(data);
				if(data.flag==false)
				{
					alert("هذه اسم المستعمل مسجل من قبل");
					flag= false;
				}
				else
				{
					flag=true;
				}
			}          
      	});
		  return trueOrFalse(flag);
}
$(function() {
	$('input[type="radio"][name="systemUser"]').click(function()
	{
		$("#nonSystemuser option").remove();
		parentId=$("input[type='radio'][name='systemUser']:checked").val();
		if(parentId==1)
		{
			$("#credentials").show();
			$("#username").show();
			$("#pass").show();
			$("#username").show();
			$("#hide").show();
			$("#hidee").show();
			$("#nonSystemuser1").show();
		}
		else
		{
			$("#credentials").hide();
		}
      	jQuery.ajax({
			url: "UserController.php",
			data: 'method=getRoles&parentId='+parentId,
			type: "GET",
		
			success:function(role)
			{
			//   convert convert string returned to json array
			var roles = JSON.parse(role);
			roles.forEach(function(item,index) {
				$('#nonSystemuser')
				.append($("<option></option>")
						.attr("value",item.id)
						.text(item.name)); 
			});
			
			}          
      	});
    });
});

	</script>

	<!-- Big Form-->
	<div class="restOfForm container-fluid">
		<div class="row">
		<form class="col-md-6 offset-md-3" style="border: 1px solid black;width: 60%;margin: auto;padding-top: 25px;padding-bottom: 50px;text-align: center;
     	box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);" id="add_user_form">
     		<h1>اضافه موظف</h1>
			
			<div class="row">
					<div class="col-md-6">
						<label >الاسم</label>
						
						<input type="text" id="name" class="form-control" required  pattern="[أ-ي' ']{2,50}" onpaste="return false;" title="ادخال الإسم باللغه العربية"   ><br>
					</div>
					<div class="col-md-6">
						<label>الرقم القومي</label>
						<input id="SSN" type="text" class="form-control" required  pattern="[0-9]{14}" onpaste="return false;"  title="الرقم القومي المكون من 14 خانه" >
					</div>
				
							<div class="col-md-2 offset-md-4">
								<label><input value="0" type="radio" name="exampleRadios"  required>ذكر</label><br>
							</div>
								
							<div class="col-md-2">
								<label><input value="1" type="radio" name="exampleRadios">انثي</label><br>
							</div>
						
					<div class="col-md-6">
						<label>تاريخ الميلاد</label>
						<input type="date" id="DOB" class="form-control" required title="الحد الادنى 21 سنه و الاقصى 80 سنه" onkeydown="return false"  ><br>
					</div>
					<div class="col-md-6">
							<label>تاريخ التعيين</label>
							<input type="date" id="DOW" class="form-control"  required title="ادخال  تاريخ التعيين بحد اقصي سنه مضت " onkeydown="return false"><br>
					</div>
					<div class="col-md-6">
						<label>رقم الموبايل</label>
						<input type="text" id="mobile" onpaste="return false;" class="form-control" pattern="[0-9]{11}" required><br>
					</div>
					<div class="col-md-6">
						<label>الراتب</label>
						<input onkeydown="javascript: return event.keyCode == 69 ? false : true" type="number" id="salary" class="form-control" min="100" max="10000" pattern="[0-9]" required><br>
					</div>
					<div class="col-md-6">
							<label>الفرع</label>
							<select id="branch" class="form-control"required>
							</select>
					</div>
				
					
				</div>
				<div class="row" style="margin-top:20px">
					<div class="col-md-2 offset-md-4">
						<label><input value="1" class="form-check-input" id="systemUser1" type="radio"
                            name="systemUser"  required>مستخدم</label><br>
					</div>
								
					<div class="col-md-2">
						<label><input value="2" class="form-check-input" type="radio" 
							name="systemUser" id="systemUser">غير مستخدم</label><br>
					</div>
				</div>
				<div id="nonSystemuser1"class="row">
					<div class="col-md-6">
						<label >الوظيفه</label>
						<select class="form-control"  id="nonSystemuser"></select>
					</div>
				</div>
		<!-- ////////////////////////////////////////////// -->
		
				<div id="credentials"class=" credentials row">
					<div class="col-md-6">
						<label id="hide">اسم المستخدم</label>
						<input type="text" id="username" class="form-control" pattern="[a-zA-z0-9].{4-20} "  onpaste="return false;"  placeholder="الأسم المستخدم لتسجيل الدخول" title="ادخال الإسم باللغه العربية" ><br>
					</div>
					<div class="col-md-6">
						<label id="hidee" > كلمة السر</label>
						<input type="password" id="pass" class="form-control" pattern="[a-zA-z0-9].{6,}"  onpaste="return false;" oncopy="return false" oncut="return false" ><br>
						
					</div>
				</div>


	<div class="col-md-5 offset-md-3">
		<button type="submit" style="margin-top:20px;color: orange;"class="btn btn-light">تسجيل دخول</button>
	</div>
				

			
</form>
</div>
</div>	
</body>
</html>

<script type="text/javascript">
    $("#nonSystemuser1").hide();
	$("#username").hide();
	$("#pass").hide();
	$("#username").hide();
	$("#hide").hide();
	$("#hidee").hide();
	$("#togg").hide();
var today = new Date();

var dd = today.getDate();

var mm = today.getMonth()+1;

var yyy = today.getFullYear()-1;

var y = today.getFullYear();

var yyyy = today.getFullYear()-21;

var yy = today.getFullYear()-80;

if(dd<10){

	dd='0'+dd

		}

	if(mm<10){

	mm='0'+mm

		}

	minDate=yy+'-'+mm+'-'+dd;

	max = yyyy+'-'+mm+'-'+dd;

	min=yyy+'-'+mm+'-'+dd;

	today = y+'-'+mm+'-'+dd;

	

	document.getElementById("DOB").setAttribute("max", max);

	document.getElementById("DOB").setAttribute("min", minDate);

	document.getElementById("DOW").setAttribute("min", min);

	document.getElementById("DOW").setAttribute("max", today);



	$(".toggle-password").click(function() {



$(this).toggleClass("fa-eye fa-eye-slash");

var input = $($(this).attr("toggle"));

if (input.attr("type") == "password") {

input.attr("type", "text");

} else {

input.attr("type", "password");

}

});

	   

</script>

<style>

.field-icon {

float: left;

margin-left: 0px;

margin-top: -50px;

position: relative;

}

</style>
</script>