<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>



<script>

    $(document).ready(function () 
    {
            $.support.cors = true;
            $.ajax({
                url: "UserController.php",
                data: 'method=getGreetings',
                type: 'get',
                dataType: 'json',
                success: function (data) 
                {
                  var table = $('#dtBasicExample').dataTable
                  ({
                      
                        data: data,
                        columns: [
                            { 'data': 'name' },
                            {
                                'data': null,
                                'render': function (data, type, row) 
                                {
                                   
                                    return '<button class="btn" onclick="getMsg('+row.id+')"><i class="fa fa-trash"></i>تعديل</button>';
                                }
                            },
                           
                           
                            {
                                'data': null,
                                'render': function (data, type, row) 
                                {
                                   
                                    return '<button class="btn" onclick="deleteMsg('+row.id+')"><i class="fa fa-trash"></i>حذف</button>';
                                }
                            }
                           
                        ]
                    });
                }
            });
        });
    
    
    function getMsg(id)
    {
       
        var data = new FormData();
        data.append('method', 'GetMsgById');
        data.append('id',id);

        jQuery.ajax({
            url: "UserController.php",
            data: data,
            type: "POST",
            cache: false,
            processData: false, // Don't process the files
            contentType: false,
            success:function(data2)
            {

            var msg = JSON.parse(data2);
            $("#Editname").val(msg.name);
            $("#Editcontent").val(msg.content);
            $("#EditButton").val(msg.id);
                // alert("deleted Successfully!");
                //  location.reload();
               $("#viewUpdate").show();
               $("#AllForm").hide();
               
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("Upload Failed!");
            }          
        });	
        
}

function update()
{
    const isValid3= Editname.checkValidity();
        const isValid4= Editcontent.checkValidity();
           if (!isValid3)
        alert("عنوان التعديل باللغة العربيه فقط و ارقام من 0-9");
 
        else if (!isValid4)
        alert("رساله التعديل باللغة العربيه فقط و ارقام من 0-9");
        else if($.trim( $('#Editname').val())==''|| $.trim( $('#Editcontent').val())=='')
        {
            alert("برجاء  ادخال جميع الخنات");
        }
        else{
    var id=$("#EditButton").val();
    var data = new FormData();
        data.append('method', 'UpdateMsgs');
        data.append('id',id);
        data.append('name',$("#Editname").val());
        data.append('content',$("#Editcontent").val());

        jQuery.ajax({
            url: "UserController.php",
            data: data,
            type: "POST",
            cache: false,
            processData: false, // Don't process the files
            contentType: false,
            success:function(data2)
            {
                alert("Updated Successfully!");
                  location.reload();
            
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("Upload Failed!");
            }          
        });	
        }
}
           
    function deleteMsg(id)
     {
    
        var data = new FormData();
        data.append('method', 'deleteMsg');
        data.append('id',id);
        jQuery.ajax({
            url: "UserController.php",
            data: data,
            type: "POST",
            cache: false,
            processData: false, // Don't process the files
            contentType: false,
            success:function(data2)
            {

            
                // alert("deleted Successfully!");
                 location.reload();
              
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("Upload Failed!");
            }          
        });	
     }
    
    
    
    
     function addMsg()
     {  
       
        
        const isValid1 = contentname.checkValidity();
        const isValid2 = titlename.checkValidity();
     
        
       
        if (!isValid1)
        alert("الرساله باللغة العربيه فقط و ارقام من 0-9");
 
       else if (!isValid2)
        alert("العنوان باللغة العربيه فقط و ارقام من 0-9");
        else if($.trim($('#contentname').val())== ''|| $.trim( $('#titlename').val())=='')
        {
            alert("برجاء  ادخال جميع الخنات");
            return;
        }
        else{

        var data = new FormData();
        var name = $("#titlename").val();
        var content = $("#contentname").val();
        data.append('method', 'AddNewMsg');
        data.append('name',name);
        data.append('content',content);
        jQuery.ajax({
            url: "UserController.php",
            data: data,
            type: "POST",
            cache: false,
            processData: false, // Don't process the files
            contentType: false,
            success:function(data2)
            {
                 alert("inserted Successfully!");
                 location.reload();
                
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("Failed!");
            }

        });	
        }
                
     }
        
    
    </script>





<div  class="restOfForm container-fluid">
        <div class="container">
                <div class="row">
                    <input id="titlename" type="text" required class="form-control col-md-3 offset-md-3" pattern="[0-9' 'ا-ي]{0,50}" placeholder="عنوان الرسالة"/>
                         
            
                    <input id="contentname" type="text" class="form-control col-md-3  offset-md-1" required pattern="[0-9' 'ا-ي]{0,152}" placeholder="محتوى الرسالة" title="اللغه العربيه فقط">
                    <!--  152 characters because twilio msgs limit is 153 -->
             </div> 
            <button class="form-control col-md-2 offset-md-6 mt-2" id="addJobbutton" type="submit" onclick="addMsg()">اضافه</button>
                </div>
    <div id="AllForm" class="row">
           
            <div class="container">
            <table id="dtBasicExample" class="table table-striped listTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">الوظيفة </th>
                            <th class="th-sm">تعديل</th>
                            <th class="th-sm">مسح</th>
                        </tr>
                        <tbody>
                        </tbody>
                    </thead>            
                </table>    
           </div>
   </div>

   <div class="container" id="viewUpdate" style="display:none;">
    <div class="row ">  
    <input class ="offset-5 col-md-4 mt-3 form-control"pattern="[0-9' 'ا-ي]{0,50}" value="" id="Editname" required type="text"  placeholder="عنوان الرسالة"/>
      
    </div>       
        <div class="row mt-3">
        <input class ="offset-5 col-md-4 form-control" pattern="[0-9' 'ا-ي]{0,152}"  value="" id="Editcontent"required type="text"  required placeholder="محتوى الرسالة">
       </div> 
       <div class="row mt-3">
           <button   class ="offset-6 col-md-2 form-control" value=""id="EditButton" type="submit" onclick="update()">اضافه</button>
    </div>
         
</div>

</div>