<script type="text/javascript">
  google.charts.load("current", {packages:["calendar"]});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() 
  {
    
    jQuery.ajax(
      {
			url: "UserController.php",
			data: 'method=getStat', 
			type: "GET",
			cache: false,
			processData: false, // Don't process the files
			contentType: false,
			success:function(data)
			{
        var dataTable = new google.visualization.DataTable();
       dataTable.addColumn({ type: 'date', id: 'Date' });
       dataTable.addColumn({ type: 'number', id: 'Won/Loss' });
      
       
       var arr = JSON.parse(data);
        arr.forEach(function(item, index) 
        {
          
          if(typeof(item.year) == 'undefined') 
          {
             
          } 
          else 
          {
            dataTable.addRows([[ new Date(parseInt(item.year), 
            parseInt(item.month)-1, parseInt(item.day)), parseInt(item.cc) ]
              ]);
          }

          
        });

         
        var chart = new google.visualization.Calendar(document.getElementById('calendar_basic'));

        var options = {title: "احصائيات التبرعات",height: 1000};

        chart.draw(dataTable, options);
				
				
			}
			,error: function(jqXHR, textStatus, errorThrown)
			{
				alert("Upload Failed!");
						
			}          
				});

       
   }
    </script>

<div class="restOfForm container-fluid">
 

    <div id="calendar_basic" style="width:1000px; height: 400px; margin:auto;">
    
    

</div>