<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>


<script>


$(document).ready(function () 
{
        $.support.cors = true;
        $.ajax({
            url: "UserController.php",
            data: 'method=getAllBranches',
            type: 'get',
            dataType: 'json',
            success: function (data) 
            {
              var table = $('#dtBasicExample').dataTable
              ({
                  
                    data: data,
                    columns: [
                        { 'data': 'address' },
                        {
                            'data': null,
                            'render': function (data, type, row) 
                            {
                                return '<button class="btn" onclick="deleteBranch('+row.id+')"><i class="fa fa-trash"></i>حذف</button>';
                            }
                        }
                    ]
                });
            }
        });
    });      
function deleteBranch(id)
 {

    var data = new FormData();
    data.append('method', 'deleteBranch');
    data.append('id',id);
    jQuery.ajax({
        url: "UserController.php",
        data: data,
        type: "POST",
        cache: false,
        processData: false, // Don't process the files
        contentType: false,
        success:function(data2)
        {
            // alert("deleted Successfully!");
            location.reload();
            
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            alert("Upload Failed!");
        }          
    });	
 }
 function addBranch()
 {
    const isValid = addBranchtext.checkValidity();
                if ( !isValid ) {
            alert(" برجاء ادخال اسم الفرع باللغه العربية");
            } 
            else if ($.trim( $('#addBranchtext').val() ) == '' )
            {
                alert("ادخال اسم الفرع")
            }
            else {   
    var data = new FormData();
    var branch = $("#addBranchtext").val();
    data.append('method', 'addBranch');

    data.append('branch',branch);
    jQuery.ajax({
        url: "UserController.php",
        data: data,
        type: "POST",
        cache: false,
        processData: false, // Don't process the files
        contentType: false,
        success:function(data2)
        {
             alert("inserted Successfully!");

             location.reload();
            
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            alert("Failed!");
        }         
    });	
            }
 }
</script>
<div class="restOfForm container-fluid">
                <div class="container">
                <table id="dtBasicExample" class="table table-striped listTable" cellspacing="0" width="100%">
                        <thead>
                            <tr>
                                <th class="th-sm">الاسم </th>
                                <th class="th-sm">مسح</th>
                            </tr>
                            <tbody>
                            
                            </tbody>
                        </thead>
                        
                                        
                    </table>    
               </div>
               
<div class="container"> 
        <div class="row">
        <input class="form-control mt-2 mb-2 col-md-3 offset-3 "type="text" id="addBranchtext"  class="form-control col-md-6" required pattern="[أ-ي' ']{2,50}"  onpaste="return false;" placeholder="اسم الفرع" title="ادخال الإسم باللغه الانجليزيه"   >
        <button class="form-control mt-2 mb-2 col-md-3 offset-1"id=" addBranchbutton" type="submit" onclick="addBranch()">اضافه</button>
        </div>
   </div>
</div>
</div>
