<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>



<script>

    $(document).ready(function () 
    {
            $.support.cors = true;
            $.ajax({
                url: "UserController.php",
                data: 'method=getAllJobs',
                type: 'get',
                dataType: 'json',
                success: function (data) 
                {
                  var table = $('#dtBasicExample').dataTable
                  ({
                      
                        data: data,
                        columns: [
                            { 'data': 'name' },
                            {
                                'data': null,
                                'render': function (data, type, row) 
                                {
                                   
                                    return '<button class="btn" onclick="deleteJob('+row.id+')"><i class="fa fa-trash"></i>حذف</button>';
                                }
                            }
                        ]
                    });
                }
            });
        });
    
    
    
           
    function deleteJob(id)
     {
    
        var data = new FormData();
        data.append('method', 'deleteJob');
        data.append('id',id);
        jQuery.ajax({
            url: "UserController.php",
            data: data,
            type: "POST",
            cache: false,
            processData: false, // Don't process the files
            contentType: false,
            success:function(data2)
            {

               
                // alert("deleted Successfully!");
                 location.reload();
              
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("Upload Failed!");
            }          
        });	
     }
    
    
    
    
     function addJob()
     {
         var parentId;
        const isValid = addJobtext.checkValidity();
        const isValid1 = systemUser1.checkValidity();
        
       
                    if (!isValid1)
                    alert("برجاء اختيار نوع الوظيفة")
                   else if ( !isValid ) {
                alert(" برجاء ادخال اسم الوظيفة باللغه العربية")
                } else if ($.trim( $('#addJobtext').val() ) == '' )
            {
                alert("ادخال اسم الوظيفه")
            }
           
                else {   

                    if(document.getElementById('systemUser').checked)
                         {
                            parentId=2;

                        }
                    else if(document.getElementById('systemUser1').checked)
                     {
                        parentId=1;
                        }
                        // alert(parentId);
        var data = new FormData();
        var role = $("#addJobtext").val();
        data.append('method', 'addJob');
        data.append('role',role);
        data.append('parentId',parentId);
        jQuery.ajax({
            url: "UserController.php",
            data: data,
            type: "POST",
            cache: false,
            processData: false, // Don't process the files
            contentType: false,
            success:function(data2)
            {
                 alert("inserted Successfully!");
                //  alert(parentId);
                 location.reload();
                
            },
            error: function(jqXHR, textStatus, errorThrown)
            {
                alert("Failed!");
            }
        });	
                }
     }
        
    
    </script>





<div class="restOfForm container-fluid">

        <h1 class="offset-5 ">اضافة وظيفه</h1>

        
            <div class="container">
            <table id="dtBasicExample" class="table table-striped listTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">الوظيفة </th>
                            <th class="th-sm">مسح</th>
                        </tr>
                        <tbody>
                        
                        </tbody>
                    </thead>
                    
                                    
                </table>    
           </div>
           <div class="container">
                <div class="row"> 
                    <input type="text" id="addJobtext"  class="form-control col-md-3 offset-3" required  pattern="[أ-ي' ']{2,50}"  onpaste="return false;" placeholder="اسم الوظيفة" title="ادخال الإسم باللغه الانجليزيه"   >
                
                            <div class="offset-1 col-md-2">
                                       
                                <label class="radio-inline form-check-input"><input value="1" required  id="systemUser1" type="radio" 
                                    name="systemUser"  required>مستخدم</label>
                            </div>
                            <div class="col-md-2">
                                    <label class=" offset-3 radio-inline form-check-input"><input value="2" class="" type="radio" 
                                        name="systemUser" id="systemUser">غير مستخدم</label>
                            </div>
            </div>
                               <button class="form-control col-md-2 offset-6 mt-2" id="addJobbutton" type="submit" onclick="addJob()">اضافه</button>
                 </div>
  
        </div>

</div>
</div>