<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

<script>
$(document).ready(function () 
{
        $.support.cors = true;
        $.ajax({
            url: "receiptBackEnd.php",
            data: 'method=getReceipts',
            type: 'get',
            dataType: 'json',
            success: function (data) 
            {
              var table = $('#dtBasicExample').dataTable
              ({
                  
                    data: data,
                    columns: [
                        { 'data': 'name' },
                        { 'data': 'date' },
                        { 'data': 'amount'},
                        {'data':'type'}
                    ]
                });
            }
        });
    });
    </script>
    <div class="restOfForm container-fluid">

        <div class=" row">
            <div class="container">
                <div id="viewChild" style="width:100%; margin-left: auto;margin-right: auto; 
                text-align:center; padding-top:20px;padding-bottom:20px;"> 
                <h1> التبرعات</h1>
                            <!-- <select>
                                    <option id="0" value="male" onchange="filterBy()">Male</option>
                                    <option id="1" value="female" onchange="filterBy()">Female</option>
                            </select>-->
                <table id="dtBasicExample" class="table table-striped listTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">الاسم </th>
                            <th class="th-sm">تاريخ التبرع</th>
                            <th class="th-sm">المبلغ</th>
                            <th class="th-sm">نوع التبرع</th>
                            
                        </tr>
                        <tbody>
                        
                        </tbody>
                    </thead>
                    
                                    
                </table>
    
                </div>  
            </div>                
        </div>