<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>

<script>

$(document).ready(function () 
{
        $.support.cors = true;
        $.ajax({
            url: "childBackEnd.php",
            data: 'method=getTalents',
            type: 'get',
            dataType: 'json',
            success: function (data) 
            {
              var table = $('#dtBasicExample').dataTable
              ({
                  
                    data: data,
                    columns: [
                        { 'data': 'talent_name' },
                        {
                            'data': null,
                            'render': function (data, type, row) 
                            {
                                return '<button class="btn" onclick="deleteTalent('+row.id+')"><i class="fa fa-trash"></i>حذف</button>';
                            }
                        }
                    ]
                });
            }
        });
    });
    
function deleteTalent(id)
 {


    var data = new FormData();
    data.append('method', 'deleteTalent');
    data.append('id',id);
    jQuery.ajax({
        url: "childBackEnd.php",
        data: data,
        type: "POST",
        cache: false,
        processData: false, // Don't process the files
        contentType: false,
        success:function(data2)
        {
            alert("deleted Successfully!");
            location.reload();
            
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            alert("Upload Failed!");
        }          
    });	
 }

 function addTalent()
 {
    const isValid = addTalenttext.checkValidity();
                if ( !isValid ) {
            alert(" برجاء ادخال الموهبة باللغه العربية")
            }   else if ($.trim( $('#addTalenttext').val() ) == '' )
            {
                alert("ادخال اسم الموهبه")
            }
            else {
            
            

    var data = new FormData();
    var talent = $("#addTalenttext").val();
    data.append('method', 'addTalent');

    data.append('talent',talent);
    jQuery.ajax({
        url: "childBackEnd.php",
        data: data,
        type: "POST",
        cache: false,
        processData: false, // Don't process the files
        contentType: false,
        success:function(data2)
        {
            alert("inserted Successfully!");

            location.reload();
            
        },
        error: function(jqXHR, textStatus, errorThrown)
        {
            alert("Failed!");
        }         
    });	
            }
 }

</script>

<div class="restOfForm container-fluid">

        <div class="row" > 
                <div class="col-md-3 offset-md-5" style="margin-top:30px;margin-bottom:30px;">
            <input type="text" id="addTalenttext"  class="form-control col-md-6"  pattern="[أ-ي' ']{2,50}" onpaste="return false;" placeholder="اسم الموهبة" title="ادخال الإسم باللغه العربية"   >
            <button class=" form-control mt-2 col-md-2 offset-md-2" id="addTalentbutton" type="submit" onclick="addTalent()">اضافه</button>
                </div>
                
       </div>
       <div class="row">
        <div class="container">
            <table id="dtBasicExample" class="table table-striped listTable" cellspacing="0" width="100%">
                    <thead>
                        <tr>
                            <th class="th-sm">الاسم </th>
                            <th class="th-sm">مسح</th>
                        </tr>
                        <tbody>
                        
                        </tbody>
                    </thead>
                    
                                    
                </table>    
           </div>
       </div>


</div>
